.restaurants_container {
    background-color: antiquewhite;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.restaurants_container h2 {
    font-size: 40px;
}


.restaurants_cards_container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.restaurants_cards_container a {
    color: white;
    text-decoration:  none;
}